$baron-font-family = "Baron Neue"
$baron-font-base-path = "../fonts/baron/"

$fonts-formats = otf


// Noto Sans
font-face(
	family: $baron-font-family,
	file-name: "Baron Neue",
	base-path: $baron-font-base-path,
	formats: $fonts-formats
)

font-face(
	family: $baron-font-family,
	file-name: "Baron Neue Italic",
	base-path: $baron-font-base-path,
	formats: $fonts-formats,
	style: italic
)

font-face(
	family: $baron-font-family,
	file-name: "Baron Neue Bold",
	base-path: $baron-font-base-path,
	formats: $fonts-formats,
	weight: bold
)

font-face(
	family: $baron-font-family,
	file-name: "Baron Neue Black Italic",
	base-path: $baron-font-base-path,
	formats: $fonts-formats,
	weight: bold,
	style: italic
)
